# @package __global__

defaults:
  - audiogen/default
  - /model: lm/audiogen_lm
  - override /dset: audio/boom
  - _self_

channels: 2
sample_rate: 48000
compression_model_checkpoint: //pretrained/facebook/encodec_48khz

# debug config uses just L1
losses:
  adv: 0.
  feat: 0.
  l1: 1.
  mel: 0.
  msspec: 0.
# no balancer
balancer:
  balance_grads: false
  ema_decay: 1.
  total_norm: 1.
  per_batch_item: false
# no adversaries
adversarial:
  adversaries: []
  adv_loss: hinge
  feat_loss: l1

# faster model for local dev
seanet:
  dimension: 16
  n_filters: 4

# very small dataset
dataset:
  batch_size: 8
  num_workers: 2
  num_samples: 10
  segment_duration: 1
  evaluate:
    batch_size: 32
  generate:
    batch_size: 1
    num_samples: 5
    segment_duration: 10

# limited training
evaluate:
  every: 5
generate:
  every: 5
optim:
  epochs: 50
